extends layout 

block content
  .container
    a.btn.btn-primary(href='/') go back
    .card(style="width: 400px")
      img.card-img-top(src=itemImgPath alt=itemName style='max-width: 320px')
      .card-body
        h6.card-title= itemName
        h7.card-title #{itemPrice} грн.
        p.card-text= itemText
        a.btn.btn-primary(href='#' onclick='something()') Buy
  script(src='/javascripts/buy.js')